mixin outputGroupName(group)
      - if (group === "normal") {
            p 普通用户
      -}if (group === "guest") {
            p 游客
      -}if (group === "painter") {
            p 画师
      -}if (group === "mange-painter") {
            p 审核画师
      -}if (group === "test-group") {
            p 内测成员
      -}if (group === "admin") {
            p 管理员
      -}

mixin outputGroupIntro(group)
      - if (group === "normal"){
            .alert.alert-info(role="alert")
                  strong.alert-heading 权限说明
                  p#alert 您拥有以下权限
                  p#alert 查询 画师 的状态
                  p#alert 查询 普通用户 的状态
                  p#alert 提交对 画师 的举报
                  p#alert 当 画师 处于黑名单时 可以查询有关事件
      -}if (group === "guest"){
            .alert.alert-primary(role="alert")
                  strong.alert-heading 权限说明
                  p#alert 您拥有以下权限
                  p#alert 查询 画师 的状态
                  p#alert 查询 普通用户 的状态
      -}if (group === "painter"){
            .alert.alert-success(role="alert")
                  strong.alert-heading 权限说明
                  p#alert 您拥有以下权限
                  p#alert 查询 画师 的状态
                  p#alert 查询 普通用户 的状态
                  p#alert 提交对 画师 的举报
                  p#alert 提交对 普通用户 的举报
                  p#alert 当 画师 处于黑名单时 可以查询有关事件
                  p#alert 当 普通用户 处于黑名单或超过3次进入黑名单时 可以查询有关事件
      -}if (group === "mange-painter"){
            .alert.alert-dark(role="alert")
                  strong.alert-heading 权限说明
                  p#alert 您拥有以下权限
                  p#alert 查询 所有用户 详细事件
                  p#alert 处理 举报 申请
                  p#alert 提交对 黑名单 的操作申请
      -}if (group === "test-group"){
            .alert.alert-dark(role="alert")
                  strong.alert-heading 权限说明
                  p#alert 您拥有以下权限
                  p#alert 对 黑名单 的所有操作
                  p#alert 再次感谢您对避雷针项目的支持与贡献
      -}if (group === "admin"){
            .alert.alert-dark(role="alert")
                  strong.alert-heading 权限说明
                  p#alert 您是最垃圾的
      -}
            
   
mixin outputAvatar(avatarPath)
      - const aPath = "https://api.furrylightningrod.com:3001/avatar/" + avatarPath
      - const bPath = "https://api.furrylightningrod.com:3001/avatar/hd/" + avatarPath
      img.rounded-circle.img-fluid.shadow#avatar(src=aPath, alt="", srcset="")

mixin outputAvatarHD(avatarPath)
      - const aPath = "https://api.furrylightningrod.com:3001/avatar/" + avatarPath
      - const bPath = "https://api.furrylightningrod.com:3001/avatar/hd/" + avatarPath
      img.rounded-circle.img-fluid.shadow#profile-avatar(src=aPath, alt="", srcset="")

mixin outputWelcome()
      - let a = "";
      - var time = new Date().getHours();
      - if (time<=5||time>=17){
      p 晚上好
      - }
      - if (time<=8&&time>=6){
      p 早上好
      - }
      - if (time<=11&&time>=9){
      p 上午好
      - }
      - if (time<=13&&time>=12){
      p 中午好
      - }
      - if (time<=16&&time>=14){
      p 下午好
      - }

mixin outputSearchNav(enter)
      - if (enter==='b'){
      nav.nav.nav-pills.flex-column.flex-sm-row
            a.flex-sm-fill.text-sm-center.nav-link.active(href="/search") 黑名单查询
            a.flex-sm-fill.text-sm-center.nav-link.disabled(href="/model-search") 模板信息查询（敬请期待）
      - }
      - if (enter==='m'){
      nav.nav.nav-pills.flex-column.flex-sm-row
            a.flex-sm-fill.text-sm-center.nav-link(href="/search") 黑名单查询
            a.flex-sm-fill.text-sm-center.nav-link.active(href="/model-search") 模板信息查询
      - }

mixin outputSearchBarInput(enter, data)
      - if (enter==='b'){var ph = "在此键入查询QQ..."}
      - if (enter==='m'){var ph ="在此键入查询查询信息..."}
      - if (!data){
      <input type="text" name="target" placeholder=#{ph} onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
      - } else {
      <input type="text" name="target" placeholder=#{ph} value=#{data.QQ} onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
      - }

mixin outputSearchResult(data)
      - if (!data) {
      .container
      - } else {
      - if (data.s==="查无此人"){
      .container
            .alert.alert-success(role="alert")
                  h4.alert-heading 查无此人
                  p 该QQ号没有威胁或本站尚未收录，请谨慎操作。
                  a(href="../../report/"+data.QQ) 举报
      - } else {
      - if (data.level===999) {
      .container
            .alert.alert-dark(role="alert")
                  h4.alert-heading!= data.name
                  p 当你凝视深渊，深渊也在凝视你。
      - }
      - if (data.level<=2) {
      .container
            .alert.alert-warning(role="alert")
                  h4.alert-heading!= data.name
                  p!= "QQ：" + data.QQ
                  p!= "严重等级：" + data.level
                  p!= "录入日期：" + data.addDate
                  p!= "原因：" + data.reason
                  a(href="../../remove/"+data.QQ) 申诉
      - }
      - if (data.level===3) {
      .container
            .alert.alert-danger(role="alert")
                  h4.alert-heading!= data.name
                  p!= "QQ：" + data.QQ
                  p!= "严重等级：" + data.level
                  p!= "录入日期：" + data.addDate
                  p!= "原因：" + data.reason
                  a(href="../../remove/"+data.QQ) 申诉
      - }}}
      
mixin outputXbtn(group)
      - if (group==="test-group"){
      button.btn.btn-success.btn-block.db#btn-x(onclick="t2mange()") 管理页面
      - }